<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.gateway">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ResidentsC5"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3"></activity>
        <activity android:name=".activities.ResidentsC4"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity android:name=".activities.ResidentsC3"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity android:name=".activities.ResidentsC2"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity android:name=".activities.ResidentsC1"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3"/>
        <activity android:name=".activities.ResidentsB4"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity android:name=".activities.ResidentsB3"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity android:name=".activities.ResidentsB2"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity android:name=".activities.ResidentsB1"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3"/>
        <activity android:name=".activities.ResidentsA4"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3"/>

        <activity android:name=".activities.ResidentsA3"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity android:name=".activities.ResidentsA2"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity android:name=".activities.ResidentsA1"  android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.ReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.MaidProfile2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.MaidProfile1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.MaidInsideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity android:name=".activities.InsideActivity" />
        <activity
            android:name=".activities.ScrapDealerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.InteriorWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.VegetableActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.GardenerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.StaffActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.LaundryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.ElectricianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.CarCleanerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.PaperboyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.MilkmanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.CookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.DriverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.MaidActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.NotifyGateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.QuickActionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.EmergencyNoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.ResidentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.NoticeBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.LocalServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.AddFlatVillaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.ShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.ForgatePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>